<!doctype html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-color: #1d2129">
<<font color="white">
{% block content %}
<h1>Frequency:</h1>
{{df | safe}}
{% endblock %}
No. of paragraphs:
{{blank1}}<br><br><br>
<p style="margin-top: 20px; margin-left: 100px; margin-right:100px; margin-bottom:20px"> 
<u>Most common words:<u><br>
<br>
<p style="margin-top: 20px; margin-left: 100px; margin-right:100px; margin-bottom:20px;"> 
{{f1}}
<br><br>
<p style="margin-top: 20px; margin-left: 100px; margin-right:100px; margin-bottom:20px"> 
<u>All words:<u><br>
<br>
<p style="margin-top: 20px; margin-left: 100px; margin-right:100px; margin-bottom:20px;"> 
{{f2}}
</font>
</body>
</html>