<!doctype html>
<head>
<title>text mining page</title><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body style="background-color: #1d2129">
    <nav class="nav" style="background-color: lightblue; margin-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <a href=""class="navbar-brand"><h1 style="color: black; font-family: Showcard Gothic; text-align: center;font-size: 80px;">Data Analytics</h1></a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 style="color: white;font-size: 70px">Welcome to the Text Mining page!</h1>
            </div>
            <div class="col-md-5">
                <label><h3><font color="white">Enter your text here:</font></h3></label>
                 <form method="POST" action="/send">
                <table>
                <tr>
                <td>
                <input type="text" name="cont" class="form-control">
                </td>
                </tr>
                 <tr>
                <td><br>
                <input type="Submit" name="" value="Submit"  class="btn btn-info btn-block btn-lg">
                </td></tr>
                </table>
                </form>
            </div>
      </div>
    </div>
</body>
</html>